@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&family=Playfair+Display:wght@500&display=swap');

:root {
    --primary: #8FC93A;
    --primary-dark: #577b22;
    --secondary: #0072BB;
    --ternary: #E4CC37;
    --light: #F8F9FA;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

body {
    background: var(--ternary);
}

h1 {
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 1.75rem;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
}

.quote-box {
    background: var(--light);
    padding: 1rem;
    border-radius: 1em;
    text-align: center;
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.20);
    height: auto;
    width: 20rem;
}

.quote-box .quote-details {
    padding: 0.5rem;
    line-height: 2rem;
    color: #222;
}

.quote-box .quote-details span {
    color: #555;
}

.quote-box blockquote {
    letter-spacing: 1px;
    font-weight: 800;
    font-size: 1rem;
}

.social-media-link {
    font-size: 2.5rem;
    padding: 0.6rem;
    transition: ease-out 0.3s;
}

.social-media-link:hover {
    opacity: 0.75;
}

.btn-group {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.btn-group .submit-btn{
    margin: 10px;
    padding: 0.5rem;
    font-size: 1.25rem;
    border-radius: 1.5rem;
    border: none;
    background: var(--primary);
    color: var(--light);
    font-weight: 800;
    letter-spacing: 1px;
    cursor: pointer;
    transition: ease-out 0.25s;
}

.btn-group .submit-btn:hover{
    background: var(--primary-dark);
}

.social-media-link .bi-twitter {
    color: #00acee;
}

.social-media-link .bi-facebook {
    color: #3b5998;
}

.social-media-link .bi-linkedin {
    color: #0077b5;
}

